SECRET_KEY=replace_me
DEBUG=False
ALLOWED_HOSTS=youraccount.pythonanywhere.com
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=youruser
EMAIL_HOST_PASSWORD=yourpassword
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@tu-dominio.test